@import '@/styles/vars.scss';

.article {
  background-color: #FFFFFC;

  &__header {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  &__body {

  }

  &__title {
    font-family: $titleFont;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-family: $titleFont;
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0;
  }

  &__date,
  &__author {
    font-size: 18px;
    opacity: 0.85;
  }

  &__date {
  }

  &__author {
  }

  &__paragraph {
    line-height: 120%;
    font-size: 18px;
  }

  &__list {
    list-style: disc;
    margin-left: 18px;
  }

  &__quote {
    padding: 10px;
  }

  &__image {
    display: block;
    margin: 15px auto;
  }
}